.header {
  /* position: absolute; */
  width: 100%;
  height: auto;
  /* background-color: white; */
  margin: 0%;
  color: white;
  /* z-index: 1000px; */
  /* position: fixed; */
}
.header h1 {
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  height: 100%vh;
}
.header_main {
  padding: 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.header_media {
  display: flex;
  flex-flow: row;
  gap: 10px;
  padding-top: 10px;
}
.header_navigation {
  display: flex;
  flex-flow: row;
  gap: 20px;
  padding-top: 10px;
  text-decoration: none;
}
.header_button {
  margin-top: 0px;
  padding: 10px 30px;
  background-color: black;
  box-shadow: white;
  color: white;
  border-radius: 20px;
}
